*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(Alphabet\ background.jpeg);
	background-size: cover;
	height: 50vh;
}

p{
	font-size: 60px;
	text-align: center;
	font-weight: 800;
	color: red;
	margin-top:20px ;
}
.container{
	width: 100%;
}

button{
	margin: 40px 40px;
	border-radius: 50px;
}
.btntyle{
	padding: 25px;
	font-weight: bold;
	font-size: 35px;
	font-family: Sans-Serif;
	background-color: white;
	border: 3px solid #8b09e2;
	color: #4CAF50;
	text-transform: uppercase;
	/* height: 80px; */
	outline: none;
	text-decoration:none;
	width: 100px;
	transition: background-color 0.5s ease, color 1s ease;
	cursor: pointer;
	box-shadow:rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px
}


.btn:hover {
  	background-color: #4CAF50;
  	color: white;
}

